body{
    font-family: Roboto,sans-serif;
    background-image: url('img_snowtops.jpg');
}
input[type="file"] {display: none;}

.tx-roboto {
    font-family: Roboto,sans-serif;
}

.tx-oswald {
    font-family: Oswald,sans-serif;
}

.tx-sofia {
  font-family: Sofia, sans-serif;
}
.tx-content-36{height: 36px; width: 100%;}
.tx-content-120{height: 120px; width: 100%;}
.tx-white-icon-32{font-size: 32px; color: white;}
.tx-orange-icon-32{font-size: 32px; color: orange;}
.tx-red-icon-32{font-size: 32px; color: red;}

.tx-text-32{font-family: "Oswald";font-size: 32px;}
.tx-text-16{font-family: "Oswald";font-size: 16px;}

.tx-modal{display: none;position: fixed; z-index: 10;padding-top: 0px;left: 0;top: 0;width: 100%; height: 100%;background-color: rgb(0,0,0); background-color:rgba(0,0,0,0.4)}

.tx-padding-button{padding:2px 4px 2px 4px;}

.tx-margin-left-8{margin-left: 8px;}.tx-margin-right-8{margin-right: 8px;}.tx-margin-top-8{margin-top: 8px;}.tx-margin-bottom-8{margin-bottom: 8px;}
