name: tarantula
services:
  presence:
    container_name: presence
    hostname: presence
    image: tarantula.presence:v1.0
    volumes:
      - volume_presence:/home/tarantula/presence  
    ports:
      - "5000:5000"
    networks:
      - net
  asset:
    container_name: asset
    hostname: asset
    image: tarantula.asset:v1.0
    volumes:
      - volume_asset:/home/tarantula/asset  
    ports:
      - "5001:5001"
    depends_on:
      - presence  
    networks:
      - net
  profile:
    container_name: profile
    hostname: profile
    image: tarantula.profile:v1.0
    volumes:
      - volume_profile:/home/tarantula/profile  
    ports:
      - "5002:5002"
    depends_on:
      - presence  
    networks:
      - net  
  inventory:
    container_name: inventory
    hostname: inventory
    image: tarantula.inventory:v1.0
    volumes:
      - volume_inventory:/home/tarantula/inventory  
    ports:
      - "5003:5003"
    depends_on:
      - presence  
    networks:
      - net
  tournament:
    container_name: tournament
    hostname: tournament
    image: tarantula.tournament:v1.0
    volumes:
      - volume_tournament:/home/tarantula/tournament
    depends_on:
      - presence    
    networks:
      - net    
  admin:
    container_name: admin
    hostname: admin
    image: tarantula.admin:v1.0
    volumes:
      - volume_admin:/home/tarantula/admin  
    depends_on:
      - asset
      - profile
      - inventory
      - tournament
    networks:
      - net
  web:
    container_name: web
    hostname: web
    image: tarantula.nginx:v1.0
    ports:
      - "80:80"
    depends_on:
      - admin
    networks:
      - net
networks:
  net:
    driver: bridge 
    ipam:
      config:
        - subnet: 10.20.0.0/16
          gateway: 10.20.0.1
volumes:
  volume_presence:
  volume_asset:
  volume_profile:
  volume_inventory:
  volume_tournament:
  volume_admin:
