name: tarantula
services:
  postoffice:
    restart: unless-stopped
    container_name: postoffice
    hostname: postoffice
    image: tarantula.postoffice:v1.0
    volumes:
      - volume_postoffice:/home/tarantula/postoffice
    ports:
      - "5000:5000"          
    networks:
      - net
  presence:
    restart: unless-stopped
    container_name: presence
    hostname: presence
    image: tarantula.presence:v1.0
    volumes:
      - volume_presence:/home/tarantula/presence  
    depends_on:
      - postoffice
    networks:
      - net
  asset:
    restart: unless-stopped
    container_name: asset
    hostname: asset
    image: tarantula.asset:v1.0
    volumes:
      - volume_asset:/home/tarantula/asset  
    depends_on:
      - presence  
    networks:
      - net
  profile:
    restart: unless-stopped
    container_name: profile
    hostname: profile
    image: tarantula.profile:v1.0
    volumes:
      - volume_profile:/home/tarantula/profile  
    depends_on:
      - presence  
    networks:
      - net  
  inventory:
    restart: unless-stopped
    container_name: inventory
    hostname: inventory
    image: tarantula.inventory:v1.0
    volumes:
      - volume_inventory:/home/tarantula/inventory  
    depends_on:
      - presence  
    networks:
      - net
  tournament:
    restart: unless-stopped
    container_name: tournament
    hostname: tournament
    image: tarantula.tournament:v1.0
    volumes:
      - volume_tournament:/home/tarantula/tournament
    depends_on:
      - presence    
    networks:
      - net
  shop:
    restart: unless-stopped
    container_name: shop
    hostname: shop
    image: tarantula.shop:v1.0
    volumes:
      - volume_shop:/home/tarantula/shop
    depends_on:
      - presence    
    networks:
      - net 
  mahjong:
    restart: unless-stopped
    container_name: mahjong
    hostname: mahjong
    image: tarantula.mahjong:v1.0
    volumes:
      - volume_mahjong:/home/tarantula/mahjong
    depends_on:
      - presence    
    networks:
      - net                 
  admin:
    restart: unless-stopped
    container_name: admin
    hostname: admin
    image: tarantula.admin:v1.0
    volumes:
      - volume_admin:/home/tarantula/admin  
    depends_on:
      - asset
      - profile
      - inventory
      - tournament
      - shop
      - mahjong
      - presence
    networks:
      - net
  web:
    restart: unless-stopped
    container_name: web
    hostname: web
    image: tarantula.nginx:v1.0
    ports:
      - "80:80"
    depends_on:
      - admin
    networks:
      - net
networks:
  net:
    driver: bridge 
    ipam:
      config:
        - subnet: 10.20.0.0/16
          gateway: 10.20.0.1
volumes:
  volume_postoffice:
  volume_presence:
  volume_asset:
  volume_profile:
  volume_inventory:
  volume_tournament:
  volume_admin:
  volume_shop:
  volume_mahjong:
