name: tarantula
services:
  postoffice:
    restart: unless-stopped
    container_name: postoffice
    hostname: postoffice
    image: tarantula.postoffice:${VERSION}
    volumes:
      - volume_postoffice:/home/tarantula/postoffice
    ports:
      - "5000:5000"          
    networks:
      - net
    env_file:
      - .env  
  presence:
    restart: unless-stopped
    container_name: presence
    hostname: presence
    image: tarantula.presence:${VERSION}
    volumes:
      - volume_presence:/home/tarantula/presence  
    depends_on:
      - postoffice
    networks:
      - net
    env_file:
      - .env 
  asset:
    restart: unless-stopped
    container_name: asset
    hostname: asset
    image: tarantula.asset:${VERSION}
    volumes:
      - volume_asset:/home/tarantula/asset  
    depends_on:
      - presence  
    networks:
      - net
    env_file:
      - .env  
  inventory:
    restart: unless-stopped
    container_name: inventory
    hostname: inventory
    image: tarantula.inventory:${VERSION}
    volumes:
      - volume_inventory:/home/tarantula/inventory  
    depends_on:
      - presence  
    networks:
      - net
    env_file:
      - .env  
  tournament:
    restart: unless-stopped
    container_name: tournament
    hostname: tournament
    image: tarantula.tournament:${VERSION}
    volumes:
      - volume_tournament:/home/tarantula/tournament
    depends_on:
      - presence    
    networks:
      - net
    env_file:
      - .env  
  mahjong:
    restart: unless-stopped
    container_name: mahjong
    hostname: mahjong
    image: tarantula.mahjong:${VERSION}
    volumes:
      - volume_mahjong:/home/tarantula/mahjong
    ports:
      - "5050:5050"   
    depends_on:
      - presence    
    networks:
      - net
    env_file:
      - .env                   
  admin:
    restart: unless-stopped
    container_name: admin
    hostname: admin
    image: tarantula.admin:${VERSION}
    volumes:
      - volume_admin:/home/tarantula/admin  
    depends_on:
      - asset
      - inventory
      - tournament
      - mahjong
      - presence
    networks:
      - net
    env_file:
      - .env  
  web:
    restart: unless-stopped
    container_name: web
    hostname: web
    image: tarantula.nginx:${VERSION}
    ports:
      - "80:80"
    depends_on:
      - admin
    networks:
      - net
networks:
  net:
    driver: bridge 
    ipam:
      config:
        - subnet: 10.20.0.0/16
          gateway: 10.20.0.1
volumes:
  volume_postoffice:
  volume_presence:
  volume_asset:
  volume_inventory:
  volume_tournament:
  volume_admin:
  volume_mahjong:
