name: 'etcd0'
data-dir: '/var/tarantula/etcd/data'
listen-peer-urls: 'http://0.0.0.0:2380'
listen-client-urls: 'http://0.0.0.0:2379'
initial-cluster-token: 'tarantula'
initial-cluster: 'etcd0=http://etcd0:2380'
initial-advertise-peer-urls: 'http://etcd0:2380'
advertise-client-urls: 'http://etcd0:2379'
initial-cluster-state: 'new'