name: 'node-0'
data-dir: '/var/tarantula/etcd/data'
listen-peer-urls: 'http://192.168.1.7:2380'
listen-client-urls: 'http://192.168.1.7:2379'
initial-cluster-token: 'tarantula'
initial-cluster: 'node-0=http://192.168.1.7:2380'
initial-advertise-peer-urls: 'http://192.168.1.7:2380'
advertise-client-urls: 'http://192.168.1.7:2379'
initial-cluster-state: 'new'