[req]
default_bits       = 2048
prompt             = no
default_md         = sha256
distinguished_name = dn
req_extensions     = req_ext

[dn]
C  = US
ST = Washington
L  = Kenmore
O  = icodesoftware LLC
CN = gameclustering.com

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = gameclustering.com
DNS.2 = www.gameclustering.com
IP.1  = 192.168.1.11